:root{
    --primary-color: #F2F2F2;
    --secondary-color: #0487D9;
    --tertiary-color: #F23D3D;
    --quaternary-color: #A6771F;
}


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header > img{
    width: 70px;
    height: 70px;
}

header > span{
    font-size: 24px;
    margin-left: 10px;
}

footer{
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

hr {
    margin: 10px 0;
    width: 90%;
}